extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae commodo erat, a tincidunt ligula. Vivamus sagittis faucibus mattis. Nullam rutrum turpis nec congue vehicula. Vestibulum vel dapibus massa. Nullam nisl erat, condimentum vel turpis fermentum, posuere varius nulla. Etiam finibus libero non vestibulum rutrum. Sed efficitur justo quis diam tempus, et consequat lectus ornare. Suspendisse tempor dui ut dolor maximus ultrices. 

                p Donec facilisis facilisis dolor et luctus. Suspendisse bibendum faucibus sapien, nec ullamcorper leo. Nulla nec hendrerit lectus. Quisque sapien tellus, auctor vitae tellus id, rhoncus eleifend ligula. Praesent tempor sapien vitae lacus eleifend scelerisque. Proin felis justo, placerat quis arcu ac, suscipit ullamcorper lorem. 

                p Pellentesque mollis elementum velit, ut posuere tellus. Pellentesque ornare lorem sit amet justo sagittis, sed vestibulum nunc placerat. Mauris semper, nulla vel mattis consequat, mi mi vulputate turpis, pulvinar tincidunt diam risus tincidunt massa. Nunc efficitur facilisis lorem, at consectetur est malesuada nec. Cras tincidunt aliquam diam, id pharetra nunc bibendum nec. Cras id mi ligula. Sed ultricies tortor ac elementum porttitor.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam rutrum turpis nec congue vehicula. Vestibulum vel dapibus massa. Nullam nisl erat, condimentum vel turpis fermentum, posuere varius nulla.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam rutrum turpis nec congue vehicula. Vestibulum vel dapibus massa. Nullam nisl erat, condimentum vel turpis fermentum, posuere varius nulla.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nullam rutrum turpis nec congue vehicula. Vestibulum vel dapibus massa. Nullam nisl erat, condimentum vel turpis fermentum, posuere varius nulla.